body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(/public/filmstrip_background.jpg);
  background-size: cover;
}
.App{
  margin:0;
}
/* styling navbar header */
.App-header{
  margin:0;
}

/* .mb-3{
  margin-top:-50px;
 
  height: 50px;
} */
.me-2{
  height:40px;

}
.btn-outline-success{
  height: 40px !important;
  width: 150px;
  font-size: 15px;
}
/* styling main */
main{
  margin:auto;
  width:90%;
}
/* styling cardmovies */
.movieList{
  display:flex;
  flex-wrap: wrap;
  margin:50px auto;
  justify-content: space-between;
 

 
}
.card-title{
margin:20%
}
.list-group-item{
  margin-left: 10px;
  text-align:justify;
 text-justify:initial;
}
.react-stars{
  margin-left: 25%;
}
.moviecard{
  opacity:0.95;
  margin:20px ;
  justify-content: center;
  width:250px;


}
.card{
  height:200px;
}
.moviecard >*{
  margin:20px 10%;
 
}
.movieList a{
 
  text-decoration:none;
}

.moviecard :hover{
  box-shadow: 5px 5px 5px 0px greenyellow;
  cursor: pointer;
  opacity:0.6;

 
  }
  .movieadd{
    margin-top:-50px;
    position:fixed;
    z-index: 1;
    width:100%;
    justify-content: space-between;
    margin-right:20px;
    

  }
 
  .pub{
    height: 300px;
    Width:500px;
    position: relative;
    top:200px;
    left: 200px;
    border-radius: 25px;
    border-width:200px;
    border: groove rgb(228, 72, 72);
    color:white;
    text-align: center;
    margin-top: -150px;
  }
  .pub img {
    border-radius: 25px;
    height: 200px;
  }
  .pub h2{
    color:rgb(243, 18, 18);
  }
  .welcome{
    transform: rotate(20deg) scale(1,1.2);
margin-top: 150px;
margin-bottom: 50px;
transition:transform 2s;

  }
  .welcome:hover{
    transform: rotate(-20deg) scale(1,1.3);
margin-top: 120px;
margin-bottom: 50px;

  } 
  
  .presentation{
    color:white;
    text-align: center;
    width:450px;
    margin-left:25%;
    margin-top: 40px;
    margin-bottom: 25px;
    text-justify: inter-word;
    
  }
  .main-nav{
    
    top: 0;
    position:fixed;
   
    z-index: 2;
    justify-content: space-between;
    margin-right:20px;
    margin-bottom: 50px;
   
   
  }
  .main-nav a{
    text-decoration: none;
    color: blue;
    font-weight: 800px;
    font-size:larger;
  }
  /* style for the knowmore component */
  .knowmorecard{
    display: flex;
    position:absolute;
    top:80px;
    left:20%;
  }
  .knowmorecard:hover{
    transform:scale(1,1.1);
    transition: transform 2s;
  }
  .tadhmin{
    margin-top: 50px;
    margin-left: 100px;
  }
  .back{
  position:fixed;
    top:80px;
    left:40px;
  }
  .home{
    position:fixed;
    top:120px;
    left:40px;

  }
  /* style for notfound page */
  .notfound{
    height: 100%;
    width:50%;
    background-image:url(/public/ERREUR.png);
    background-size: cover;
    z-index: 4;
    position: fixed;

  }